---
layout: default
---

<div class="post">

  <header class="back-header-about">
  </header>

  <header class="post-header header-about">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
	  {% if page.social %}
        <div class="social">
          <div class="contact-icons">
            {% include social.html %}
          </div>
          <div class="contact-note">{{ site.contact_note }}</div>
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    <div class="projects about-content-block">
      <div class="row">
        <div class="col-sm mt-3 mt-md-0">
          <img class="img-fluid" src="/assets/img/condensation.png" alt="" title="Condensation Heuristics">
          <h4>Condensation Heuristics</h4>
          <span class="subsubtitle">See CCCG'19, CCCG'20</span>
        </div>
        <div class="col-sm mt-3 mt-md-0">
          <img class="img-fluid" src="/assets/img/coresets.png" alt="" title="Coresets for the NN rule">
          <h4>$$ \varepsilon $$-Coresets for the NN Rule</h4>
          <span class="subsubtitle">See ESA'20</span>
        </div>
        <div class="col-sm mt-3 mt-md-0">
          <img class="img-fluid" src="/assets/img/chromatic-avd.png" alt="" title="Chromatic AVD">
          <h4>Chromatic AVD</h4>
          <span class="subsubtitle">See ESA'21</span>
        </div>
      </div>
    </div>

    <div class="education about-content-block">
      <h2>Education</h2>
      <div class="row">
        <div class="col-sm mt-3 mt-md-0">
          <div class="org-logo umd-logo"></div>
          <h4>Ph.D. in Computer Science</h4>
          <em class="subtitle">University of Maryland, College Park</em>
		  <span class="subsubtitle">2015-2022</span>
        </div>
        <div class="col-sm mt-3 mt-md-0">
          <div class="org-logo umd-logo"></div>
          <h4>M.Sc. in Computer Science</h4>
          <em class="subtitle">University of Maryland, College Park</em>
		  <span class="subsubtitle">2015-2018</span>
        </div>
        <div class="col-sm mt-3 mt-md-0">
          <div class="org-logo usb-logo"></div>
          <h4>B.Eng. in Computer Science</h4>
          <em class="subtitle">Universidad Simón Bolívar</em>
		  <span class="subsubtitle">2009-2014 · Cum Laude</span>
        </div>
      </div>
    </div>

    <div class="work-experience about-content-block">
      <h2>Work Experience</h2>
      <div class="row">
        <div class="col-sm mt-3 mt-md-0">
          <div class="org-logo google-logo"></div>
          <h4>Google</h4>
          <em class="subtitle">Software Engineer</em>
		  <span class="subsubtitle">NYC • Since Summer 2022</span>
        </div>
        <div class="col-sm mt-3 mt-md-0">
          <div class="org-logo facebook-logo"></div>
          <h4>Facebook Inc.</h4>
          <em class="subtitle">Software Engineer PhD Intern</em>
		  <span class="subsubtitle">Seattle • Summer 2019</span>
        </div>
        <div class="col-sm mt-3 mt-md-0">
          <div class="org-logo umd-logo"></div>
          <h4>University of Maryland</h4>
          <em class="subtitle">TA & Summer Lecturer</em>
		  <span class="subsubtitle">2015-2022</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm mt-3 mt-md-0">
          <div class="org-logo usb-logo"></div>
          <h4>Universidad Simón Bolívar</h4>
          <em class="subtitle">Visiting Professor</em>
		  <span class="subsubtitle">Virtually • Spring 2022</span>
        </div>
        <div class="col-sm mt-3 mt-md-0">
          <div class="org-logo vi-logo"></div>
          <h4>Venezuela Inteligente</h4>
          <em class="subtitle">Co-founder & Developer</em>
		  <span class="subsubtitle">2012-2017</span>
        </div>
        <div class="col-sm mt-3 mt-md-0">
          <div class="org-logo usb-logo"></div>
          <h4>Universidad Simón Bolívar</h4>
          <em class="subtitle">Research & Teaching Assistant</em>
		  <span class="subsubtitle">2012-2015</span>
        </div>
      </div>
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}
  </article>

</div>
