---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
            {% if page.social %}
              <div class="social">
                <div class="contact-icons">
                  {% include social.html %}
                </div>
                <div class="contact-note">{{ site.contact_note }}</div>
              </div>
            {% endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          
          <div class="publications", id="awards">
            <h2> 🏆 Awards </h2>
              <div class="content">
                <p>
                  <b> President Scholarship </b> 
                  <br>
                  <em> Scholarship of NT$25,000 (US$ 800) per month during 4 years of pursuing Ph.D degree. </em>
                  <br> 
                  National Tsing Hua University, Taiwan, <strong>2022</strong>
                </p>
              </div>

              <div class="content">
                <p>
                  <b> AI and Information Technology Research Award </b> 
                  <br>
                  <em> Scholarship of NT$50,000 (US$ 1600) through the work in 2022 SIGKDD. </em>
                  <br> 
                  Appier, Taiwan, <strong>2022</strong>
                </p>
              </div>

              <div class="content">
                <p>
                  <b> TAAI scholarship </b> 
                  <br>
                  <em> Scholarship of NT$30,000 (US$ 1000) through the work in 2022 SIGKDD. </em>
                  <br> 
                  National Tsing Hua University, Taiwan, <strong>2022</strong>
                </p>
              </div>

              <div class="content">
                <p>
                  <b> Outbound Exchange student Scholarship </b> 
                  <br>
                  <em> Scholarship of NT$75,000 (US$ 2500) </em>
                  <br> 
                  National Tsing Hua University, Taiwan, <strong>2019</strong>
                </p>
              </div>


          </div>

          <div class="publications", id="publication">
            <h2>📄 Publications</h2>
              <div class="content">
                <p>
                  <b>Enhancing Perception: Refining Explanations of News Claims with LLM Conversations</b>
                  <br>
                  <em><b> Yi-Li Hsu</b>, Jui-Ning Chen, Yang Fan Chiang, Shang-Chien Liu, Aiping Xiong, Lun-Wei Ku</em> 
                  <br>
                  <strong>NAACL 2024 (Findings) </strong> <a href="https://aclanthology.org/2024.findings-naacl.137/">[Paper]</a> <!--a href="https://www.youtube.com/watch?v=rgq0UXOkb8o">[video]</a-->
                </p>
                <p>
                  <b>Is Explanation the Cure? Misinformation Mitigation in the Short Term and Long Term</b>
                  <br>
                  <em><b> Yi-Li Hsu</b>, Shih-Chieh Dai, Aiping Xiong,and Lun-Wei Ku</em> 
                  <br>
                  <strong>EMNLP 2023 (Findings) </strong> <a href="https://aclanthology.org/2023.findings-emnlp.92.pdf">[Paper]</a> <!--a href="https://www.youtube.com/watch?v=rgq0UXOkb8o">[video]</a-->
                </p>
                <p>
                  <b> Label-Aware Hyperbolic Embeddings for Fine-grained Emotion Classification</b>
                  <br>
                  <em>Chen Chih-Yao, Tun Min Hung, <b>Yi-Li Hsu</b>,and Lun-Wei Ku</em> 
                  <br>
                  <strong>ACL 2023 </strong> <a href="https://aclanthology.org/2023.acl-long.613/">[Paper]</a> <!--a href="https://www.youtube.com/watch?v=rgq0UXOkb8o">[video]</a-->
                </p>
                <p>
                  <b>Ask to Know More: Generating Counterfactual Explanations for Fake Claims</b>
                  <br>
                  <em>Shih-Chieh Dai<sup>*</sup>,<b> Yi-Li Hsu</b><sup>*</sup>, Aiping Xiong,and Lun-Wei Ku</em> (<sup>*</sup>Equal contribution)
                  <br>
                  <strong>KDD 2022 (Oral)</strong> <a href="https://dl.acm.org/doi/pdf/10.1145/3534678.3539205">[Paper]</a> <!--a href="https://www.youtube.com/watch?v=rgq0UXOkb8o">[video]</a-->
                </p>
              </div>
          </div>

          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
        </article>

</div>
