---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
            {% if page.social %}
              <div class="social">
                <div class="contact-icons">
                  {% include social.html %}
                </div>
                <div class="contact-note">{{ site.contact_note }}</div>
              </div>
            {% endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
                    
          <div class="publications", id="publication">
            <h2>📄 Publications</h2>
              <div class="content">
                <p>
                  <b>Ask to Know More: Generating Counterfactual Explanations for Fake Claims</b>
                  <br>
                  <em>Shih-Chieh Dai<sup>*</sup>,<b> Yi-Li Hsu</b><sup>*</sup>, Aiping Xiong,and Lun-Wei Ku</em> (<sup>*</sup>Equal contribution)
                  <br>
                  <strong>KDD 2022</strong> <a href="https://arxiv.org/pdf/2206.04869.pdf">[Paper]</a> <!--a href="https://www.youtube.com/watch?v=rgq0UXOkb8o">[video]</a-->
                </p>
              </div>
          </div>

          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
        </article>

</div>
